{% extends 'base.html'%}

{% block body_content %}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <h1>Finansal Anomali Tespit Sistemi</h1>
        <h2>Kullanıcıların harcama alışkanlıklarını analiz ederek, alışılmadık işlem ve harcamaları tespit eden bir platform.
        </h2>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">Başlayalım</a></li>
        </ul>
    </div>
</section>

<section id="one" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item left">
            <div>
                <h3>Harcama Analizi</h3>
                <p>Kullanıcının harcama geçmişini analiz ederek düzenli alışkanlıkları öğrenir ve anormal sapmaları takip eder.</p>
            </div>
            <div>
                <h3>Güvenlik Bildirimleri</h3>
                <p>Anormal bir işlem tespit edildiğinde kullanıcıya hızlıca bildirim gönderir, finansal güvenliği sağlar.</p>
            </div>
        </div>

        <div class="flex-item right">
            <div>
                <h3>Veri Gizliliği</h3>
                <p>Kullanıcı verileri güvenli bir şekilde saklanır ve yalnızca harcama analizi için kullanılır.</p>
            </div>
            <div>
                <h3>Gelişmiş Raporlama</h3>
                <p>Harcamalar hakkında detaylı raporlar sunarak kullanıcıların bütçelerini kontrol etmelerine yardımcı olur.</p>
            </div>
        </div>
    </div>
</section>

<section id="two" class="wrapper style1 special">
    <div class="inner">
        <h2>Kullanıcı Yorumu</h2>
        <figure>
            <blockquote>
                "Bu platform sayesinde, harcamalarımı daha iyi kontrol edebiliyorum ve beklenmedik işlemlerden haberdar oluyorum!"
            </blockquote>
            <footer><cite class="author">Murat Kartal</cite>
                <cite class="company">Kullanıcı</cite>
            </footer>
        </figure>
    </div>
</section>

<section id="three" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item box">
            <div class="image fit">
                <img src="/static/images/anomaly_resim.jpg" alt="Anomali Tespiti" width="418" height="200">
            </div>
            <div class="content">
                <h3>Anomali Tespiti</h3>
                <p>Harcama alışkanlıklarından sapmaları belirleyerek, kullanıcıları potansiyel tehlikeler hakkında uyarır.</p>
            </div>
        </div>
        <div class="flex-item box">
            <div class="image fit">
                <img src="/static/images/butce_yonetim.jpg" alt="Bütçeleme" width="418" height="200">
            </div>
            <div class="content">
                <h3>Bütçe Yönetimi</h3>
                <p>Günlük, haftalık ve aylık harcamalarınızı izleyin ve bütçenizi daha etkili bir şekilde yönetin.</p>
            </div>
        </div>
        <div class="flex-item box">
            <div class="image fit">
                <img src="/static/images/finansal_guvenlik.jpg" alt="Finansal Güvenlik" width="418" height="200">
            </div>
            <div class="content">
                <h3>Finansal Güvenlik</h3>
                <p>Kişisel verilerinizi koruma altına alarak güvenli bir deneyim sunar.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}